# Virtual Environment
.venv/
venv/
ENV/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Data and Models (Crucial for GitHub's 100MB limit)
dataset/
*.h5
*.pkl
*.model
*.weights

# IDE Settings
.vscode/
.idea/

# OS Metadata
.DS_Store
Thumbs.db
